@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@keyframes running-line {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

:root {
  --g-color-black: #313131;
  --g-color-white: #FFFFFF;
  --g-color-red: #F54932;
  --g-color-blue: #3057A2;
  --g-color-yellow: #FBCE51;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: "Merriweather";
  margin: 0;
}

p {
  margin: 0;
}

.page {
  font-family: "GolosText", sans-serif;
  color: #313131;
  background-color: var(--g-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* Carousel Navigation */

.carousel-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.carousel-navigation__btn {
  width: 44px;
  height: 44px;
  background-color: var(--g-color-black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28%;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: .4s;
}

.carousel-navigation__btn:hover {
  background-color: var(--g-color-yellow);
}

.carousel-navigation__btn:disabled {
  cursor: auto;
  background-color: #D6D6D6;
}

.carousel-navigation__btn_left {
  background-image: url(../assets/icons/arrow-left.svg);
}

.carousel-navigation__btn_right {
  background-image: url(../assets/icons/arrow-rigth.svg);
}

.carousel-navigation__dots-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.carousel-navigation__counter-container {
  display: flex;
  align-items: center;
  gap: 3px;
  max-width: 36px;
  width: 100%;
}

.carousel-navigation__counter {
  font-size: 16px;
  font-weight: 400;
  opacity: .6;
}

.carousel-navigation__counter_active {
  opacity: 1;
}

.carousel-navigation__dot {
  width: 10px;
  height: 10px;
  background-color: #D9D9D9;
  border-radius: 50%;
  transition: .4s;
}

.carousel-navigation__dot_active {
  background-color: var(--g-color-black);
}

/* Header */

.header {
  width: 100%;
  padding: 26px 72px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: absolute;
}

.header__container {
  max-width: 1222px;
  width: 100%;
}

.header__logo {
  background-image: url(../assets/icons/logo.svg);
  width: 246px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}

.header__logo:hover {
  opacity: 0.7;
}

/* Content */

.content {
  width: 100%;
}

/* Cover */

.cover {
  width: 100%;
  height: 700px;
  background-image: url(../assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 124px 72px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.cover__container {
  max-width: 1222px;
  width: 100%;
}

.cover__content {
  max-width: 542px;
  width: 100%;
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  font-weight: 400;
  text-align: left;
  line-height: 1.1;
  text-transform: uppercase;
}

.cover__title-child_center {
  text-align: center;
}

.cover__title-child_right {
  text-align: right;
}

.cover__text {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 24px 0 40px;
}

.cover__button-wrapper {
  display: flex;
  gap: 16px;
}

.cover__button {
  font-family: "GolosText";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  padding: 16px 49px;
  box-sizing: border-box;
  border-radius: 66px;
  border: none;
  flex: 1;
  background-color: #1F1F1F;
  color: var(--g-color-white);
  cursor: pointer;
  transition: 0.3s;
}

.cover__button:hover {
  background-color: #FBCE51;
  color: #1F1F1F;
}

.cover__button_outlined {
  background-color: transparent;
  border: 2px solid #1F1F1F;
  color: #1F1F1F;
}

.cover__button_outlined:hover {
  background-color: #1F1F1F;
  color: var(--g-color-white);
}

/* Marquee */

.marquee {
	width: 100%;
  background-color: var(--g-color-red);
  padding: 18px 0;
  overflow: hidden;
}

.marquee__container {
  user-select: none;
	width: 100%;
	display: flex;
	overflow: hidden;
}

.marquee__content {
	flex-shrink: 0;
	display: inline-flex;
	counter-reset: item;
	min-width: 100%;
	animation: running-line 20s cubic-bezier(0, 0, 1, 1) infinite;
}

.marquee__item {
	color: var(--g-color-white);
	font-family: 'Merriweather';
	font-weight: 400;
	text-transform: uppercase;
	font-size: 22px;
	display: flex;
	align-items: center;
	width: max-content;
}

.marquee__item::after {
	content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: var(--g-color-white);
	border-radius: 50%;
	margin: 0 12px;
}

/* Lecture */

.lecture {
  width: 100%;
  padding: 80px 72px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.lecture__container {
  max-width: 1222px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.lecture__title-wrapper {
  max-width: 764px;
}

.lecture__title {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 764px;
  line-height: 1.35;
  display: inline;
}

.lecture__title-highlight {
  color: var(--g-color-red);
  font-weight: 700;
}

.lecture__image {
  border-radius: 50%;
  width: 394px;
  height: 250px;
}

.lecture__image_center {
  display: none;
}

/* Info */

.info {
  width: 100%;
  padding: 32px 72px 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.info__container {
  max-width: 1222px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
}

.info__image-container {
  max-width: 474px;
  height: 527px;
  margin: 0;
  overflow: visible;
  position: relative;
}

.info__image {
  height: 527px;
  transform: scale(1.156);
  object-fit: contain;
}

.info__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__title {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 764px;
  line-height: 1.35;
  display: inline;
}

.info__title-highlight {
  color: var(--g-color-red);
  font-weight: 700;
}

.info__table {
  border-collapse: collapse;
}

.info__table-row {
  margin: 0;
  padding: 0;
}

.info__table-row-item {
  color: #313131;
  font-size: 20px;
  border: 2px solid #D0D0D0;
  padding: 16px;
  box-sizing: border-box;
  text-align: left;
  font-weight: 400;
}

.info__table-row-item:first-child {
  padding-left: 0;
  border-left: none;
  opacity: .7;
}

.info__table-row-item:last-child {
  border-right: none;
  font-weight: 600;
}

.info__table-row-item_top {
  padding-top: 0;
  border-top: none;
}

.info__table-row-item_bottom {
  padding-bottom: 0;
  border-bottom: none;
}

.info__text-highlight_striked {
  text-decoration: line-through;
  text-decoration-color: var(--g-color-red);
  margin-right: 10px;
}

.info__link {
  text-decoration: none;
  font-size: 20px;
  color: var(--g-color-blue);
}

/* Stages */

.stages {
  width: 100%;
  padding: 80px 72px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
}

.stages__container {
  max-width: 1222px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stages__title-wrapper {
  max-width: 806px;
  margin-bottom: 54px;
}

.stages__title {
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
  display: inline;
}

.stages__description {
  display: inline-block;
  font-size: 20px;
  color: var(--g-color-blue);
  line-height: 1.2;
  max-width: 280px;
  margin-left: 22px;
}

.stages__content-image {
  position: absolute;
  bottom: 0;
  right: -60px;
  z-index: 10;
}

.stages__content {
  width: 100%;
  position: relative;
}

.stages__content-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 112px 112px 136px;
}

.stages__item {
  background-image: url(../assets/images/stages-card-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  display: flex;
  gap: 16px;
}

.stages__item:nth-of-type(3) {
  grid-row: span 2;
}

.stages__item:nth-of-type(7) {
  grid-column: span 2;
}

.stages__item-number-wrapper {
  background-color: var(--g-color-white);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.stages__item-number {
  font-size: 20px;
  font-weight: 600;
}

.stages__item-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  display: inline-block;
  max-width: 446px;
}

.stages__navigation {
  display: none;
}

/* Participants */

.participants {
  width: 100%;
  padding: 100px 72px 140px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.participants__container {
  max-width: 1222px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: 60px;
  grid-template-areas: 
    "title nav"
    "content content";
}

.participants__title {
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
  grid-area: title;
}

.participants__navigation {
  grid-area: nav;
}

.participants__content {
  grid-area: content;
  display: grid;
  overflow: hidden;
  grid-auto-columns: calc((100% / 3) - 20px);
  column-gap: 20px;
  grid-auto-flow: column;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.participants__card {
  scroll-snap-align: start;
  width: 100%;
  padding: 0 37px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participants__card-image {
  max-width: 320px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-bottom: 28px;
}

.participants__card-title {
  font-family: "GolosText", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
  text-align: center;
}

.participants__card-text {
  font-size: 20px;
  font-weight: 400;
  opacity: .6;
  text-align: center;
}

.participants__card-button {
  width: 113px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  color: var(--g-color-blue);
  background-color: transparent;
  border: 1px solid var(--g-color-blue);
  border-radius: 62px;
  box-sizing: border-box;
  margin-top: 20px;
  cursor: pointer;
  transition: .4s;
}

.participants__card-button:hover {
  background-color: var(--g-color-blue);
  color: var(--g-color-white);
}

.footer {
  background-color: #E9DED4;
  width: 100%;
  padding: 40px 72px 72px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.footer__container {
  max-width: 1222px;
  width: 100%;
}

.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

@media screen and (max-width: 1360px) {

  /* Stages 1360 */

  .stages__content-wrapper {
    gap: 18px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .stages__content-image {
    top: -190px
  }

  .stages__item:nth-of-type(7) {
    grid-column: span 1;
  }
}

@media screen and (max-width: 1295px) {
  
  /* Lecture 1295 */

  .lecture__container {
    justify-content: center;
    width: 100%;
  }

  .lecture__title {
    max-width: 1100px;
    text-align: center;
  }

  .lecture__title-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lecture__image_center {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .lecture__image_rigth {
    display: none;
  }

  /* Info 1295 */

  .info__container {
    flex-direction: column;
    gap: 44px;
  }

  .info__title {
    text-align: center;
  }

  .info__table {
    border-collapse: collapse;
    margin-top: 44px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1200px) {

  /* Header */

  .header {
    width: 100%;
    padding: 26px 54px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: absolute;
  }

  /* Cover 1200px */

  .cover {
    height: 620px;
    padding: 124px 54px;
  }

  .cover__content {
    max-width: 460px;
  }

  .cover__title {
    font-size: 50px;
    font-weight: 400;
  }

  .cover__text {
    font-size: 16px;
    margin: 24px 0 40px;
    margin-top: 18px;
    margin-bottom: 32px;
  }

  .cover__button {
    font-size: 14px;
    padding: 14px 35px;
  }
}

@media screen and (max-width: 1040px) {

  /* Cover 1040 */

  .cover {
    background-image: url(../assets/images/bg-cover-mobile.jpg);
    height: 950px;
    background-position: bottom;
  }

  .cover__content {
    margin: 0 auto;
  }

  /* Lecture 1040 */

  .lecture__title {
    font-size: 28px;
  }

  /* Info 1040 */

  .info__title {
    font-size: 28px;
  }

  .info__link {
    font-size: 18px;
    line-height: 1.2;
  }

  .info__image-container {
    max-width: 374px;
    height: fit-content;
    margin: 0;
    overflow: visible;
    position: relative;
  }
  
  .info__image {
    max-width: 374px;
    height: fit-content;
    transform: none;
  }

  /* Stages 1040 */

  .stages__title-wrapper {
    margin-bottom: 148px;
  }

  .stages__title {
    font-size: 42px;
  }
  
  .stages__description {
    max-width: 100%;
    margin-left: 0;
    margin-top: 12px;
    display: block;
  }

  .stages__content-image {
    top: -150px;
    left: 50%;
    right: 50%;
    height: 182px;
    transform: translate(-50%, 0)
  }

  /* Participants 1040 */

  .participants__title {
    font-size: 42px;
  }

  .participants__content {
    grid-auto-columns: calc((100% / 2) - 20px);
    column-gap: 10px;
  }
}

@media screen and (max-width: 790px) {

  /* Carousel Navigation 790 */

  .carousel-navigation__btn {
    width: 36px;
    height: 36px;
  }

  /* Cover 790 */

  .cover {
    height: 850px;
  }

  /* Info 790 */

  .info__table-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .info__table-row {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .info__table-row-item:first-child {
    border: none;
    padding: 0;
  }
  
  .info__table-row-item:last-child {
    border: none;
    border-bottom: 2px solid #D0D0D0;
    padding: 0 0 12px 0;
  }

  /* Stages 790 */

  .stages__content-wrapper {
    overflow-x: hidden;
    gap: 18px;
    grid-template-columns: repeat(5, 100%);
    grid-template-rows: repeat(2, 150px);
    row-gap: 0;
    column-gap: 40px;
    grid-auto-flow: column;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .stages__item {
    scroll-snap-align: start;
    padding-top: 62px;
  }

  .stages__item:nth-of-type(1) {
    grid-row: span 1;
  }

  .stages__item:nth-of-type(2) {
    grid-row: span 1;
    padding-top: 0;
  }

  .stages__item:nth-of-type(3) {
    grid-row: span 2;
  }

  .stages__item:nth-of-type(4) {
    grid-row: span 1;
  }

  .stages__item:nth-of-type(5) {
    grid-row: span 1;
    padding-top: 0;
  }

  .stages__item:nth-of-type(6) {
    grid-row: span 2;
  }

  .stages__item:nth-of-type(7) {
    grid-row: span 2;
  }

  .stages__navigation {
    display: flex;
    margin-top: 28px;
  }

  .stages__content-image {
     height: 210px;
  }

  /* Participants 790 */

  .participants__container {
    grid-template-columns: 1fr min-content;
    row-gap: 40px;
    grid-template-areas: 
      "title"
      "content"
      "nav";
  }

  .participants__content {
    grid-auto-columns: 100%;
    column-gap: 10px;
  }
}

@media screen and (max-width: 560px) {

  /* Header */

  .header {
    padding: 20px;
  }

  .header__logo {
    width: 213px;
    height: 32px;
  }

  /* Lecture 560 */

  .lecture {
    padding: 48px 20px 17px;
  }

  .lecture__title {
    text-align: left;
  }

  .lecture__image {
    width: 335px;
    height: 213px;
  }

  /* Cover */

  .cover {
    height: 712px;
    padding: 90px 20px;
  }

  .cover__title {
    font-size: 36px;
    font-weight: 400;
    max-width: 335px;
    margin: 0 auto;
  }

  .cover__text {
    text-align: left;
    margin: 24px 0 32px;
  }

  .cover__button-wrapper {
    flex-direction: column;
    gap: 14px;
  }
  
  .cover__button {
    padding: 15px 43px;
  }

  .cover__button_outlined {
    background-color: #FFFFFF;
    border: none;
    color: #1F1F1F;
  }

  /* Marquee */

  .marquee {
    padding: 10px 0;
  }

  .marquee__item {
    font-size: 18px;
  }

  /* Info */

  .info {
    padding: 17px 20px 60px;
  }

  .info__title {
    text-align: left;
  }

  /* Stages 560 */

  .stages {
    padding: 60px 20px;
  }

  .stages__title {
    font-size: 36px;
  }
  
  .stages__description {
    font-size: 18px;
  }

  .stages__content-image {
    top: -125px;
    left: 50%;
    right: 50%;
    height: 198px;
    transform: translate(-47%, 0)
  }

  .stages__item:nth-child(2) {
    padding-top: 16px;
  }

  .stages__item-number-wrapper {
    background-color: var(--g-color-white);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
  }
  
  .stages__item-number {
    font-size: 20px;
    font-weight: 600;
  }
  
  .stages__item-text {
    font-size: 18px;
  }

  /* Participants 560 */

  .participants {
    padding: 60px 20px 100px;
  }

  .participants__card {
    padding: 0 24px;
  }

  /* Footer */

  .footer {
    background-color: #E9DED4;
    width: 100%;
    padding: 40px 20px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  
}

@media screen and (max-width: 365px) {

  /* Cover */

  .cover {
    height: 660px;
  }

  .cover__title {
    font-size: 30px;
    max-width: 280px;
  }

  .cover__text {
    text-align: left;
    margin: 18px 0 26px;
  }

  .cover__button {
    font-size: 12px;
  }
}